button {
  margin: 0 10px;
  padding: 5px 35px;
}
button {
  background-color: #a85100;
  color: #f4f1eb;
  font-size: 20px;
  border-radius: 5px;
  border: 0 solid #f4f1eb;
}
button:hover {
  transition: .3s;
  cursor: pointer;
  background-color: #622d07;
}
button:active {
  background-color: #cf966d;
}
@media(min-width: 800px) {
  button {
    font-size: 32px;
  }
}